{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": 17 } }],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "fileName": false
      }
    ]
  ]
}
